Plataforma web/flow Testing.json
[
    {
        "id": "6dcfacea7118a924",
        "type": "tab",
        "label": "testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "792a40a4d47254a2",
        "type": "ui_chart",
        "z": "6dcfacea7118a924",
        "name": "",
        "group": "c1e6de0d4d0c97f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a90454ce29ef171d",
        "type": "change",
        "z": "6dcfacea7118a924",
        "name": "Riego",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.s_moist",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "792a40a4d47254a2"
            ]
        ]
    },
    {
        "id": "a67b43f77d8de2fe",
        "type": "mqtt in",
        "z": "6dcfacea7118a924",
        "name": "",
        "topic": "esp/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "18f874c0.4a464b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "a90454ce29ef171d"
            ]
        ]
    },
    {
        "id": "440514cf8f3150e7",
        "type": "function",
        "z": "6dcfacea7118a924",
        "name": "Level",
        "func": "var msg={};\nvar msg1={};\n\nmsg.payload =  55;\nmsg.topic = 'Min. level';\nmsg1.payload = 0; \nmsg1.topic = 'Valve';\nreturn [msg, msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "792a40a4d47254a2"
            ],
            [
                "792a40a4d47254a2"
            ]
        ]
    },
    {
        "id": "de949fe8f17e22be",
        "type": "inject",
        "z": "6dcfacea7118a924",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 285,
        "y": 160,
        "wires": [
            [
                "440514cf8f3150e7"
            ]
        ],
        "l": false
    },
    {
        "id": "c1e6de0d4d0c97f8",
        "type": "ui_group",
        "name": "Riego",
        "tab": "d9ec8acf701cf8bc",
        "order": 1,
        "disp": false,
        "width": "19",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18f874c0.4a464b",
        "type": "mqtt-broker",
        "name": "Air_temp",
        "broker": "146.190.39.154",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "Data lost",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9ec8acf701cf8bc",
        "type": "ui_tab",
        "name": "Riego",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]